 <form class="form-style-10" role="form" ng-submit="" novalidate>
                                <table class="innertable" align="center" cellpadding="5px" cellspacing="25px" width="70%">


                                    <tr>
                                        <td>
                                            <label>Name
                                                <input type="text" ng-model="newgreet.RecordName">
                                            </label>
                                        </td>
                                        <td>
                                            <label>Project
                                                <input type="text" ng-model="newgreet.Project_c">
                                            </label>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td align="center" colspan="2">
                                            <button ng-click="sendData(newgreet);">
                                                Create
                                            </button>
                                            <button ng-click="cancel()">Cancel</button>
                                        </td>
                                    </tr>


                                </table>
                            </form>